<ion-list>
  <ion-list-header>
    Recent Purchases
  </ion-list-header>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/yogut.png">
    </ion-avatar>
    <ion-label>
      <h2><b>$10.00</b> - <small>10 points earned</small></h2>
      <p>12/10/2020 - Paid</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/ice-cream.png">
    </ion-avatar>
    <ion-label>
      <h2><b>$10.00</b> - <small>10 points earned</small></h2>
      <p>12/10/2020 - Paid</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/yogut.png">
    </ion-avatar>
    <ion-label>
      <h2><b>$10.00</b> - <small>10 points earned</small></h2>
      <p>12/10/2020 - Paid</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/ice-cream.png">
    </ion-avatar>
    <ion-label>
      <h2><b>$10.00</b> - <small>10 points earned</small></h2>
      <p>12/10/2020 - Paid</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/yogut.png">
    </ion-avatar>
    <ion-label>
      <h2><b>$10.00</b> - <small>10 points earned</small></h2>
      <p>12/10/2020 - Paid</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/ice-cream.png">
    </ion-avatar>
    <ion-label>
      <h2><b>$10.00</b> - <small>10 points earned</small></h2>
      <p>12/10/2020 - Paid</p>
    </ion-label>
  </ion-item>
</ion-list>